@font-face {
    font-family: 'Onon Sonin Sans';
    src: url(font/OnonSoninSans.woff) format('woff');
    unicode-range: U+1800-185C, U+1880-18AA, U+202F;
}
@font-face {
    font-family: 'Consolas';
    src: url('font/Consolas.woff') format('woff');
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: 'Yagpo Tibetan Uni';
    src: url(font/YagpoTibetanUni.woff2) format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'Noto Sans Siddham';
    src: url(font/NotoSansSiddham-Regular.woff2) format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'Noto Sans Sinhala';
    src: url(font/NotoSansSinhala-Regular.woff) format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Tharlon';
    src: url(font/Tharlon-Regular.woff2) format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'Odor Mean Chey';
    src: url('font/OdorMeanChey.woff2') format('woff2');
    font-display: swap;
}
textarea, pre {
    font-family: Onon Sonin Sans, Consolas, Monospace, Yagpo Tibetan Uni, Noto Sans Siddham, Noto Sans Sinhala, Tharlon, Odor Mean Chey, sans-serif;
    font-size: 16px;
}
textarea {
    outline: none; 
    border: none;
    width: 100%;
    height: 100%;
    resize: none;
    padding: 12px 8px;
    line-height: 1.0;
    line-height: 1.7;
}
pre {
    white-space: pre-wrap; 
    word-wrap: break-word;
}
a:link {color: #000;}
a:visited {color: #000;}
