@font-face {
  font-family: 'ampersand';
  src: local('Noto Sans Mongolian');
  unicode-range: U+1800-185C, U+202F;
}
html, pre, textarea {
    font-family: ampersand, monospace, 'Yagpo Tibetan Uni', 'Noto Sans Siddham', 'Noto Sans Mongolian';
    font-size: 15px;
}
a:link {color: #000;}
a:visited {color: #000;}
pre {
    white-space: pre-wrap; 
    word-wrap: break-word;
}
textarea {
    outline: none; 
    border: none;
    width: 100%;
    height: 100%;
    resize: none;
    padding: 12px 8px;
}
