@font-face {
  font-family: 'ampersand';
  src: url(font/NotoSansMongolian.woff2),
       url(font/NotoSansMongolian.woff);
  unicode-range: U+1800-185C, U+1880-18AA, U+202F;
}
html {
    font-family: ampersand, monospace, 'Yagpo Tibetan Uni', 'Noto Sans Siddham', 'BhashitaComplexSans';
    font-size: 15px;
}
a:link {color: #000;}
a:visited {color: #000;}
pre {
    white-space: pre-wrap; 
    word-wrap: break-word;
}
textarea {
    outline: none; 
    border: none;
    width: 100%;
    height: 100%;
    resize: none;
    padding: 12px 8px;
}
